### Python Tutorial

In [1]:
print("Hello World")

Hello World

In [2]:
a = 10
b = 10.5

print(a)
print(b)

10
10.5

In [3]:
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [4]:
c = "hello_python"
print(type(c))

<class 'str'>

In [5]:
d = 5 + 3j
print(d)
print(type(d))

(5+3j)
<class 'complex'>

In [6]:
a = 100.5

In [7]:
print(a)
print(type(a))

100.5
<class 'float'>

## Working with Input

In [8]:
name = input("Enter the name of your organisation")
print("Hello",end=' ')
print(name)

Enter the name of your organisation
Hello

## Reading Numbers | Typecasting

In [9]:
a = float(input("Enter a Number"))
print(a)
print(a*a)

print(type(a))
print("The square of the number is " + str(a*a))

Enter a Number

ValueError: could not convert string to float:

## More about the Print Function

- format 
- end and sep

In [ ]:
print("Hello","World","I","Love","Python",sep="+")

In [ ]:
a = 10
b = 20
print(a,end=',')
print(b)

In [ ]:
a = "Indians"
b = "Mangoes"

c = "Russians"
d = "Pizza"

In [ ]:
print("{0} love {1}".format(c,d))

In [ ]:
a = 10
b = 20

print("You entered %d and %d and %d"%(a,b,b))

### Variables,Datatypes and Operators

A type of identifier.

Rules for naming identifiers:

    The first character of the identifier must be a letter of the alphabet (uppercase ASCII or lowercase ASCII or Unicode character) or an underscore (_).

    The rest of the identifier name can consist of letters (uppercase ASCII or lowercase ASCII or Unicode character), underscores (_) or digits (0-9).

    Identifier names are case-sensitive. For example, myname and myName are not the same. Note the lowercase n in the former and the uppercase N in the latter.

Examples of valid identifier names are i, name_2_3.

Examples of invalid identifier names are 2things, this is spaced out, my-name and >a1b2_c3.

### Airthmetic Operators (+,-,*,**,/,//,%)

In [ ]:
a = 10
b = 21

print(a+b)
print(a-b)
print(a*b)
print("%0.4f"%(a/b))
print(a//b)
#Exponent/Power Function
print(a**b)
print(b%a)

### Multiple Variable Assignment

In [10]:
a,b,c = 10,20,30.34

In [11]:
# This functions print the variables
print(a,b,c)

10 20 30.34

### Whitespaces and Indendation


- Whitespace is important in Python.

- Actually, whitespace at the beginning of the line is important. This is called indentation.

- Leading whitespace (spaces and tabs) at the beginning of the logical line is used to determine the indentation level of the logical line, which in turn is used to determine the grouping of statements.

- This means that statements which go together must have the same indentation. Each such set of statements is called a block

### Don't mix tabs and Spaces
### Comments are Important for readability of your code

In [61]:

# This is a single comment !

"""This is a 
multiline 
comment """

myString = """This is 
a multiline string """

print(myString)

This is
a multiline string

### Operators - Arithmetic, Comparsion, Compound Assignment, Logical Operators

In [64]:
raining = True
temperature = 30


outing = raining and temperature <= 30
print(outing)

True

## If Else Blocks

In [70]:
weather  = input()

if weather=="Rainy":
    print("Don't go outside")
    print("It is raining heavilly")
    
elif weather=="Cool":
    print("Lets play Cricket")

else:
    print("Lets go for shopping")

Rainy
Don't go outside
It is raining heavilly

### Loops in Python

In [71]:
n = 10
i = 1

while i<=n:
    print("Step %d"%i)
    i = i + 1

print("Loop Finished")

Step 1
Step 2
Step 3
Step 4
Step 5
Step 6
Step 7
Step 8
Step 9
Step 10
Loop Finished

In [74]:
for i in range(1,10,2):
    print(i,end=",")

1,3,5,7,9,

In [75]:
no = 10
ans = 1

for i in range(1,11):
    ans *= i
    
print(ans)

3628800

## Loops here

In [77]:
for i in range(10,1,-2):
    print(i,end=',')

10,8,6,4,2,

In [78]:
# 5 X 5 Matrix
n = 5
for x in range(n):
    for y in range(n):
        print(max(x+1,y+1,n-x,n-y),end=" ")
    print()

5 5 5 5 5
5 4 4 4 5
5 4 3 4 5
5 4 4 4 5
5 5 5 5 5

### Break Continue and Pass Statements

In [89]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

print("Loop ends")

1
2
3
4
6
7
8
9
Loop ends

In [ ]:
# Write a Program which prints all primes number upto N !

In [90]:
def helloFact():
    print("Hello Factorial")
    
helloFact()

Hello Factorial

In [91]:
def factorial(n):
    ans = 1
    for i in range(1,n+1):
        ans *= i
    return ans

print(factorial(5))

120

In [95]:
def isPrime(n):
    
    for i in range(2,n):
        if(n%i==0):
            return False
        
    return True


def printPrime(V):
    
    for i in range(1,V+1):
        if(isPrime(i)):
            print(i,end=',')
            
            
printPrime(100)

1,2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

## Default Argument Values and Local Global Variables

In [102]:
lang = "C++"
def say(x="Python"):
    print("I Love " +x)
    
say("JavaScript")
say()
print(lang)

I Love JavaScript
I Love Python
C++

### Recursive Function

In [103]:
def fact(n):
    #Base Case
    if(n==0):
        return 1
    #Rec Case
    return n*fact(n-1)

print(fact(6))

720

### Keywords Arguments

In [120]:
def myFunc(score,lang,rollNo):
    print("I scored %d in %s"%(score,lang))
    print(rollNo)
    
    
myFunc(rollNo=1010,lang="Python",score=10)

I scored 10 in Python
1010

# Functions

In [12]:
def fun(a,b,*x,**y):
    print(a)
    print(b)
    print(x)
    print(type(x))
    print(y)
    print(type(y))
    
    for k in y:
        print(k,y[k])
    
    
fun(1,2,3,4,10,14,shake="OreoShake",drink="lemonade",fruit="Mango")

1
2
(3, 4, 10, 14)
<class 'tuple'>
{'shake': 'OreoShake', 'drink': 'lemonade', 'fruit': 'Mango'}
<class 'dict'>
shake OreoShake
drink lemonade
fruit Mango

## Datastructure

### Strings

In [44]:
a = "Coding Blocks"
print(a)

Coding Blocks

In [45]:
print(a[2])

d

In [46]:
print(a[-1])

s

In [47]:
print(len(a))

13

In [48]:
# Strings are Not Mutable!
a = "Code Blocks"
print(a)

Code Blocks

In [49]:
for i in range(len(a)):
    print(a[i])

C
o
d
e

B
l
o
c
k
s

In [50]:
for c in a:
    print(c)

C
o
d
e

B
l
o
c
k
s

In [51]:
a = "Mango"
b = "Juice"
print(a + b)

MangoJuice

In [52]:
print(a*5)

MangoMangoMangoMangoMango

In [53]:
# Range Slicing 
a[1:-2]
a[ : ]
a[-2:]
a[1:3]

'an'

In [54]:
# Membership - Substring is present in bigger string
a = "Coding Blocks"
b = "Code"
if b not in a:
    print("Yes")
else:
    print("No")

    #'go' in a

Yes

In [55]:
# String Formating 
print("My favourite fruit is %s and it comes from %c"%("Mango","I"))

My favourite fruit is Mango and it comes from I

In [56]:
# Triple Quotes
para = """This is some
paragram written
here"""
print(para)

This is some
paragram written
here

In [57]:
l = para.split()
print(l)
print(type(l))
print(type(l[0]))

['This', 'is', 'some', 'paragram', 'written', 'here']
<class 'list'>
<class 'str'>

In [58]:
para.splitlines()

['This is some', 'paragram written', 'here']

In [59]:
fruit = "Mango"
fruit = fruit.upper()
fruit = fruit.lower()
print(fruit)

mango

In [60]:
shake = "    Apple Shake   "
shake2 = shake
print(len(shake))

18

In [61]:
shake = shake.lstrip() #Removes the leading white space
shake = shake.rstrip() #Removes the ending white space
print(shake)
print(len(shake))

Apple Shake
11

In [62]:
shake2 = shake2.strip() #Removes leading and trailing whites spaces 
print(shake2)
print(len(shake2))

Apple Shake
11

In [63]:
a = "9318790"
a.isdigit()

True

In [64]:
a = "HNo"
a.isalpha()

True

In [65]:
a = "12abcA"
b = "    "
print(a.isalnum())
print(a.islower())
print(b.isspace())

True
False
True

### Some More String Functions :)
    Find Function
    Replace
    Count Function
    Join Function
    Title Function
    Capitalize

In [66]:
a = "I love having Apple Juice, and I like eat green Apple"
print(a.find("Apple",30,len(a)))

print(a.index("Apple",30,len(a)))
# Difference is find() return -1, index throws an exception

48
48

In [67]:
a = a.replace("Apple","Mango")
print(a)

I love having Mango Juice, and I like eat green Mango

In [68]:
a.count("Mango")

2

In [69]:
l = a.split()
print(l)

['I', 'love', 'having', 'Mango', 'Juice,', 'and', 'I', 'like', 'eat', 'green', 'Mango']

In [70]:
b = "_"
b = b.join(l)
print(b)

I_love_having_Mango_Juice,_and_I_like_eat_green_Mango

In [71]:
name_org = "chiranjeev kumar"
name_org.title()

'Chiranjeev Kumar'

## Lists in Python
#### List is like array, heterogenous list

In [99]:
myList = [ 1,2,3.5,"Hello"]
print(myList)
print(type(myList))

[1, 2, 3.5, 'Hello']
<class 'list'>

In [100]:
l2 = list([1,2,3])
print(l2)
print(type(l2))

[1, 2, 3]
<class 'list'>

In [101]:
l3 = list(l2)
print(l3)

l3 = l3 + l2
print(l3)

l3.extend(l2)
print(l3)

[1, 2, 3]
[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [102]:
# List of Square of the numbers from 1 to 5
l4 = [i*i for i in range(1,6)]
print(l4)

[1, 4, 9, 16, 25]

### List Slicing

In [103]:
print(l4[0:3])
print(l4[-3:])

[1, 4, 9]
[9, 16, 25]

### Insertion and Deletion
append

insert

remove

pop

del

In [104]:
l = [1,2]
l.append(3)

l.append([1.0,2.1])
l += [4,5,6]
print(l)

[1, 2, 3, [1.0, 2.1], 4, 5, 6]

In [105]:
l.insert(2,20)
print(l)

[1, 2, 20, 3, [1.0, 2.1], 4, 5, 6]

In [106]:
print(l[3][1])

TypeError: 'int' object is not subscriptable

In [107]:
del l[0]
print(l)

[2, 20, 3, [1.0, 2.1], 4, 5, 6]

In [108]:
l.pop()
print(l)

[2, 20, 3, [1.0, 2.1], 4, 5]

In [109]:
l = ([1,2,3])
l = l*4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [110]:
l = ["Apple","mango","guava",80]
80 in l

True

In [111]:
for i in range(len(l)):
    print(l[i])

Apple
mango
guava
80

In [112]:
for x in l:
    print(x)

Apple
mango
guava
80

#### More functions on lists : Searching & Sorting

In [116]:
l = [4,3,2,16,18]
print(max(l))
print(min(l))
#Linear Search 
print(l.index(16))

18
2
3

In [117]:
l = sorted(l)

In [118]:
print(l)

[2, 3, 4, 16, 18]

In [119]:
l = [4,5,1,3,2]
l.sort(reverse=True)
print(l)

[5, 4, 3, 2, 1]

In [121]:
## Read a list of Numbers
numbers = [int(number)*int(number) for number in input().split()]
print(numbers)
print(type(numbers))

1 2 4 3 5 7 8 10 11
[1, 4, 16, 9, 25, 49, 64, 100, 121]
<class 'list'>

### Tuples

In [15]:
t = (1,2,3,"Hello")
print(t)

(1, 2, 3, 'Hello')

In [16]:
#tuples are immutable
#t[0] = 5
print(t[0])

1

In [17]:
# Convert a tuple into a list

l = list(t)
print(l)

l[0] = 5
print(l)

[1, 2, 3, 'Hello']
[5, 2, 3, 'Hello']

In [18]:
t2 = tuple(l)
print(t2)

(5, 2, 3, 'Hello')

In [19]:
#concatentation
print(t2 + t)

#Repetion
t2 = t2*3
print(t2)

(5, 2, 3, 'Hello', 1, 2, 3, 'Hello')
(5, 2, 3, 'Hello', 5, 2, 3, 'Hello', 5, 2, 3, 'Hello')

In [20]:
t = (1,44,3,2)
print(min(t))

1

In [21]:
#for deleting the tuple
del t

In [22]:
print(min(t))

NameError: name 't' is not defined

### Dictionaries

In [23]:
d = {"Mango":100,"Apple":80}
print(d)
#Look Up
print(d["Mango"])

d["Guava"] = 60
print(d)

d["Grape"] = [10,20]
print(d["Grape"])

d["Pineapple"] = {"Small":90,"Large":150}

print(d["Pineapple"]["Small"])

{'Mango': 100, 'Apple': 80}
100
{'Mango': 100, 'Apple': 80, 'Guava': 60}
[10, 20]
90

In [24]:
print(d.keys())

dict_keys(['Mango', 'Apple', 'Guava', 'Grape', 'Pineapple'])

In [25]:
print(d.values())

dict_values([100, 80, 60, [10, 20], {'Small': 90, 'Large': 150}])

In [26]:
print(type(d.get("Mangoes")))

<class 'NoneType'>

In [27]:
if "Mangoes" in d:
    print("Price of Mango is %d"%(d["Mango"]))
else:
    print("Doesn't exist")

Doesn't exist

In [28]:
del d["Pineapple"]
l = list(d.items())
print(l)

[('Mango', 100), ('Apple', 80), ('Guava', 60), ('Grape', [10, 20])]

In [29]:
d2 = {"Strawberry":95}

d.update(d2)
print(d)

{'Mango': 100, 'Apple': 80, 'Guava': 60, 'Grape': [10, 20], 'Strawberry': 95}

In [30]:
print(len(d))

5

In [31]:
d.clear()
print(len(d))

0

In [32]:
l1 = ["Apple","Papaya","Guava","Banana"]
l2 = [100,120,30,50]

p = dict(zip(l1,l2))
print(p)
print(type(p))

{'Apple': 100, 'Papaya': 120, 'Guava': 30, 'Banana': 50}
<class 'dict'>

In [33]:
for k in p.values():
    print(k)

100
120
30
50

### Python sets

In [34]:
s = set([15,1,2,3,4,3,1,1])
print(s)

{1, 2, 3, 4, 15}

In [35]:
if 14 in s:
    print("present")
else:
    print("not present")

not present

In [36]:
s2 = {5,6,11,1,1}
print(s2)

{1, 11, 5, 6}

In [37]:
s2.add(50)
print(s2)

{1, 5, 6, 11, 50}

In [38]:
s.clear()

In [39]:
a1 = {1,2,3,4}
a2 = {2,3,4,5,6}

#Those element which are only in one of the sets
print(a1^a2)

{1, 5, 6}

# OOPs in Python

In [40]:
#A minimalistic Python Class


class Person:
    pass

p = Person()
print(type(p))

<class '__main__.Person'>

In [41]:
class Person:
    #Class Variable, common for all objects of the same class
    nationality = "Indian"
    
    def __init__(self,pname,clg):
        self.name = pname
        self.college = clg
    
    def sayHi(self,name):
        print("Hello "+name)
        
    def __secretMethod(self):
        print("In Secret Method of ",self.name)
    
    def introduce(self):
        print("My Name is ",self.name)
        print("I am from ",self.college)
        print("I am ",self.nationality)
        self.__secretMethod()
        
        
p = Person("Prateek","Coding Blocks")
p.sayHi("World!")
p.introduce()
#p.__secretMethod()

p2 = Person("Arnav","Micromax")
p2.introduce()

Hello World!
My Name is  Prateek
I am from  Coding Blocks
I am  Indian
In Secret Method of  Prateek
My Name is  Arnav
I am from  Micromax
I am  Indian
In Secret Method of  Arnav

In [42]:
#Instance Variables vs Class Variables

class Dog:
    
    color = "Brown"
    #Common for all data member of the class 
  
    def __init__(self,breed):
        """This method accepts the breed of the dog and initialsies it"""
        self.activities = []
        self.breed = breed
    
    def addActivity(self,act):
        self.activities.append(act)
        
    def __secretActivity(self):
        print("Doing Secret Activity ",self.breed)
        
    def doActivity(self):
        """This is reg dog activities"""
        print(self.breed)
        print(self.activities)
        self.__secretActivity()
        
        
d1 = Dog("German Shepherd")
d2 = Dog("Golden Retriever")

d1.addActivity("HighJump")
d1.addActivity("Roll Over")
#d1.__secretActivity()

d2.addActivity("LowJump")
d2.addActivity("Roll Upside Down")
#d2.__secretActivity()
d1.doActivity()
d2.doActivity()

German Shepherd
['HighJump', 'Roll Over']
Doing Secret Activity  German Shepherd
Golden Retriever
['LowJump', 'Roll Upside Down']
Doing Secret Activity  Golden Retriever

In [ ]:
#Public vs Private method
#Inheritance in Python

In [43]:
class SchoolMember:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        print("Init School Member: %s "%self.name)
        
    def introduce(self):
        print("Name :%s %d"%(self.name,self.age))
        

class Teacher(SchoolMember):
       
        def __init__(self,name,age,salary):
            SchoolMember.__init__(self,name,age)
            self.salary = salary
            print("Init Teacher : %s"%self.name)

        def introduce(self):
            SchoolMember.introduce(self)
            print("Salary : %d"%(self.salary))
            
class Student(SchoolMember):
    '''Represents a school student'''
    def __init__(self,name,age,marks):
        SchoolMember.__init__(self,name,age)
        self.marks = marks
        print("Init Student %s"%(self.name))
        
    def introduce(self):
        SchoolMember.introduce(self)
        print("Marks %d"%(self.marks))
    

t = Teacher("Mr.Alpha",30,45000)
t.introduce()

s = Student("Xyz",20,90)
s.introduce()

Init School Member: Mr.Alpha
Init Teacher : Mr.Alpha
Name :Mr.Alpha 30
Salary : 45000
Init School Member: Xyz
Init Student Xyz
Name :Xyz 20
Marks 90

# Exception Handling in Python
 ## Try Except

In [75]:
try:
    a  = input("Enter your name")
    if(len(a)<3):
        raise Exception
    
except FileNotFoundError as e:
    print("File doesnt exist. Please reupload")
    print(e)
    
except NameError as e:
    print("b is not defined")
    print(e)
    
except Exception as e:
    print("Please enter a valid name")
    print(e)
    
else:
    print("Try executed without any error")
    print("Form Submitted Successfully")
    
finally:
    print("It is always there")

Enter your name  Chiranjeev
Try executed without any error
Form Submitted Successfully
It is always there

#### Some more built in functions

In [76]:
s = "1+10/2+abs(-3)"

eval(s)

9.0

In [77]:
expression = input()
print(eval(expression))

7+3-3+4*5/2
17.0

In [78]:
l = ["mango","apple","banana"]
for x in enumerate(l):
    print(x)

(0, 'mango')
(1, 'apple')
(2, 'banana')

In [79]:
l = []
print(all(l))
print(any(l))

True
False